---
title: Flashcard UI Test
---

<div class="card">
  <div class="card_inner">
    <div id="kanji">
    </div>
    <a href="#">Reload</a>
  </div>
  <div class="actions">
    <div class="action success">
      <a href="#">Know It</a>
    </div>
    <div class="action failure">
      <a href="#">Don't Know It</a>
    </div>
  </div>
</div>
